<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(9, 59, 5);">
    <div class="container-fluid">
      <a class="navbar-brand" >.</a>
      <a class="navbar-brand btn btn-light btn-outline-success" routerLink="/login" (click)="onLoginClick()">
        <i class="fa-solid fa-user fa-bounce"></i>Login</a>
    </div>
    <a class="navbar-brand btn btn-light btn-outline-success" routerLink="/Register"(click)="onRegisterClick()">
      <i class="fa-solid fa-user fa-bounce"></i>Register</a>
  </nav>
  <div class="img1">
    <img src="..\assets\sam.jpg" width="1533" height="681">
    </div>
    
  
  <router-outlet></router-outlet>
